@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-light.woff2') format('woff2'),
        url('../fonts/rubik-italic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-lightitalic.woff2') format('woff2'),
        url('../fonts/rubik-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik.woff2') format('woff2'),
        url('../fonts/rubik.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-medium.woff2') format('woff2'),
        url('../fonts/rubik-medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}