html,
body {
    height: 100%;
}

html {
    font-size: 100%; // 16px
}

body {
    font-family: $font-family;
    background: $bg-color;
    color: $text-color;
    font-weight: $font-light;
    line-height: 1.5;
}


// Type scale - perfect fourth - https://type-scale.com

h1,
h2,
h3 {
    color: $accent-color;
    font-weight: $font-medium;
    margin: 2.75rem 0 1.05rem;
    line-height: 1.15;
}

h1 {
    font-size: $font-size-1;
}

h2 {
    font-size: $font-size-2;
}

h3 {
    font-size: $font-size-3;
}

p {
    font-size: $font-size-4;
    margin-bottom: 1.15rem;
}

small {
    font-size: $font-size-5;
}

b,
strong {
    font-weight: $font-medium;
}

a,
a:visited {
    color: $accent-color-light;
    text-decoration: underline;
}

a:hover,
a:active {
    color: $accent-color;

}

img {
    max-width: 100%;
    height: auto;
}


.wrap {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: $width-x-large;
    flex: 1 0 auto; // Flexible for fixed footer
}

.site-header {
    max-width: $header-width;
    text-align: center;
    margin: 0 auto;
    padding: 0 0.75rem;
}

.work {
    margin: $margin-large $margin-small;
    padding: 0;
}

.gallery {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

    // Flex if no grid
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    // Set up CSS grid
    display: grid;
    justify-content: center;
    gap: $gap;
    grid-template-columns: repeat(2, 1fr);

    img {
        display: block;
    }
}

.gallery-item {
    margin: 0 0 $gap 0;
    padding: 0;
    flex: auto;
    max-width: $width-x-small;

    img {
        width: 100%;
    }
}

@media (min-width: $width-mid) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: $width-large) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery-item {
        max-width: 24%;
    }
}

// Reset margin and width if grid is supported

@supports (display: grid) {
    .gallery-item {
        margin: 0;
        max-width: none;
        border: 1px solid $bg-color;
    }

    .gallery-item:hover {
        border: 1px solid $text-color;
        transition: border $delay;
    }
}

// CTAs

.link-cta:after {
    content: " →";
}

.link-cta:hover {
    transition: all $delay;
}

// Footer
.site-footer {
    text-align: center;
    margin: 0;
    padding: 0.25rem;
    border-top: 1px solid $accent-color-light;

    p {
        font-size: $font-size-5;
    }
}